<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hamlet uses your microphone for voice chat in channels.</string>
	<key>NSCameraUsageDescription</key>
	<string>Hamlet uses your camera for video chat in channels.</string>
</dict>
</plist>
